/* Roboto Regular*/

@font-face
	font-family: "Roboto"
	font-style: "normal"
	font-weight: 400
	src: url("../fonts/Roboto/RobotoRegular/RobotoRegular.woff")

/* Roboto Medium*/

@font-face
	font-family: "Roboto"
	font-style: "normal"
	font-weight: 500
	src: url("../fonts/Roboto/RobotoMedium/RobotoMedium.woff")

/* Roboto Bold*/

@font-face
	font-family: "Roboto"
	font-style: "normal"
	font-weight: 700
	src: url("../fonts/Roboto/RobotoBold/RobotoBold.woff")
